ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbarli {
    float: right;

}

.navbarli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

  img.appsi{
   max-width:40%;
   max-height:40%;
}

.logo {
  height: 300px;
  width: 400px;
  display: block;
  margin: 200px auto 0px auto;
}

.canada {
  font-family: sans-serif;
  font-size: 25px;
  position: relative;
  color: blue;
  left: 100%;
}

.search {
  width: 800px;
  display: block;
  margin: 10px auto;
  position: relative;
  left: 5%;
}

.buttons {
  height: 100px;
  width: 800px;
  position: relative;
  margin: auto auto;
}

.gsearch {
    position: relative;
  left: 5%;
}

.lucky{
    position: relative;
  left: 90%;
}

/* Footer */

ul.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

.footerbarli {
    float: left;

}

.footerbarli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
