#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

img.logo {
  margin: 11px;
  max-width:7%;
  max-height:7%;
}

img.searchicons {
  padding-top: 6px;
  max-width:8%;
  max-height:8%;
  position: relative;
  left:-80px;

}

.search {
  margin: 10px 0px 20px 0px;
  height: 35px;
  width: 550px;
  box-shadow: 2px 2px 1px lightgrey;
}

.container{
  height: 120px;
  width: 600px;
}
.navbar{
  left:0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: WhiteSmoke ;
}

.profile:hover, .appsi:hover, .all:hover, .videos:hover, .new:hover,
.maps:hover, .images:hover, .more:hover, .settings:hover, .tools:hover, .help:hover,
.feedback:hover, .privacy:hover, .terms:hover, .usegoog:hover,
 .preciselocation:hover, .learnlocation:hover{
    color: black;
}

.profile, .all, .videos, .news, .maps, .images, .more, .settings, .tools, .appsi{
  color:gray;
  display: block;
  padding: 14px 13px;
}

.all{
    background: linear-gradient(180deg, WhiteSmoke 90%, blue 10%);
    color: blue;
}

img.appsi{
   max-width:1.5%;
   max-height:1.5%;
}

a {
  color: green;
}

h3 {
  color: blue;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

.results {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
}
.italics {
  color: gray;
  font-style: italic;
  display: inline;
}

/* Footer */

.footerbar{
  width: 100%;
  min-width:900px;
  background-color: whitesmoke;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

ul.footer {
  list-style-type: none;
  width: 85%;
  margin: 0 auto;
}

.help, .feedback, .privacy, .terms, .usegoog {
  margin: 0 auto;
  font-size: 15px;
  float: left;
  color: gray;
  display: block;
  padding: 14px 13px;
}

td {
  color: blue;
  font-weight:bold;
  padding: 2px 5px;
}

.location {
  margin: 0 auto;
  font-size: 15px;
  color: lightgray;
  display: block;
  padding: 14px 13px 0px 13px;
}

.preciselocation, .learnlocation {
  display: inline;
  font-size: 15px;
  color: gray;
  padding: 14px 13px 0px 13px;
}
