
.logo {
  height: 300px;
  width: 400px;
  display: block;
  margin: 200px auto 0px auto;
}

.canada {
  font-family: sans-serif;
  font-size: 25px;
  position: relative;
  color: blue;
  left: 100%;
}

.search {
  width: 800px;
  display: block;
  margin: 10px auto;
  position: relative;
  left: 5%;
}

.buttons {
  height: 100px;
  width: 800px;
  position: relative;
  margin: auto auto;
}

.gsearch {

}

.lucky{
    position: relative;
  left: 90%;
}
